.custom-component {
    width: 500px;
    aspect-ratio: 8 / 5;
    --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
    --accent: hsl(280 80% 40%);
    transition: background 0.2s;
    background:
      radial-gradient(circle at top left, var(--accent), transparent 75%),
      var(--bg);
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
  }
  
  .custom-component {
    --hover: 0.5; /* Adjust the value as needed */
  }
  